{% extends 'template.html' %}

{% block head %}
    <script src="../static/js/function.js"></script>
    <title>Gened</title>
{% endblock %}

{% block body %}
    <div class="univ-title">
        <h1 style="font-family: Geneva;">University & College GE Requirements</h1>
        <h1 class="gened-home">         
            <a href="/">Home</a>
        </h1>
    </div>  

    <div class="univ-reqs w3-container w3-margin-right w3-card-4">
        <h1 style="text-align: center;">University Reqs</h1>
        <p style="text-align: center;">180 Units, with at least 60 upper division units</h2>
        
        <div class="univ-reqs-left">
            <h3>Writing Requirement</h3>
            <p>(UC ELWR) Credit or course sequence</p>
        </div>
        <div class="univ-reqs-center">
            <h3>Diversity, Equity, and Inclusion</h3>
            <p>A course from an approved list</p>
        </div>
        <div class="univ-reqs-right">
            <h3>American History and Institutions</h3>
            <p>Credit or course from an approved list</p>
        </div>

    </div>

    <div class="colleges w3-card-4">
        <button class="college-btn w3-hover-red" id="warren" onclick="warren()"></button>
        <button class="college-btn w3-hover-cyan" id="sixth" onclick="sixth()"></button>
        <button class="college-btn w3-hover-green" id="muir" onclick="muir()"></button>
        <button class="college-btn w3-hover-pink" id="erc" onclick="erc()"></button>
        <button class="college-btn w3-hover-deep-orange" id="marshall" onclick="marshall()"></button>
        <button class="college-btn w3-hover-indigo" id="revelle" onclick="revelle()"></button>
        <button class="college-btn w3-hover-amber" id="seventh" onclick="seventh()"></button>
    </div>

    <div class="display w3-card-4" id="display">
        <h1>No College Selected</h1>
    </div>


{% endblock %}