{% extends 'template.html' %}

{% block head %}
    <title>UCSD Course Planner</title>
{% endblock %}

{% block body %}

    <div class="w3-container w3-blue-grey">    
        <div class="school">
            <h1>UCSD</h1>
        </div>
            <div class="title">
            <h1>Course Planner for 
                <br> Jacobs School of Engineering</h1>
        </div>
      
    </div>


    <div class="majors-container">
               
                {% for major in majors %}  
                <div class="majors-item w3-card w3-hover-shadow w3-padding-small">
                <h2 class="w3-padding-small"> <a href="/{{major}}">{{ major }}</a></h2>  
                </div> 
                {% endfor %}
    
    </div>

    <div class="gened">
        <h1> <a href="/gened">University & College GE Requirements</a></h1>
    </div>

    <div class="about">
        <button class="btn" id="abtn" onclick="location.href='/about'">About</button>
    </div>


{% endblock %}