
{% extends 'template.html' %}

{% block head %}

    <script src="../static/js/function.js"></script>
    <title>{{ major }}</title>

    <div class="w3-container w3-blue-grey">
        <div class="home"> 
            <h1>         
                <a href="/">Home</a>
            </h1>
        </div>
        <div class="title">
            <h1>{{ major }}</h1>
        </div>

    </div>

{% endblock %}


{% block body %}

 
<div class="i w3-card-4">
    <h4>{{ mcode }} Major Requirements</h4>
    <img src="../static/images/{{mcode}}.png">
</div>


<div class="t">

    <div class="panel w3-panel w3-leftbar w3-pale-blue w3-border-blue">
        <h4>Click on a subject to see <br>it's undergraduate catalog</h4>
    </div>
{% for course in courses %}
    <div class="button"> 
        <button onclick="toggle('{{course}}')" class="w3-btn w3-indigo w3-ripple">{{ course }}</button>
        <div id="{{course}}" class="hidden" style="display: none">
            <div class="table w3-table w3-hoverable w3-card-4"> 
            {{ data[course] | safe }}  
            </div> 
        </div>
    </div>
{% endfor %}
</div>



{% endblock %}
