
{% extends 'template.html' %}

{% block head %}

    <script src="../static/js/function.js"></script>
    <title>{{ major }}</title>

    <div class="w3-container w3-blue-grey">
        <div class="home"> 
            <h1>         
                <a href="/">Home</a>
            </h1>
        </div>
        <div class="title">
            <h1>{{ major }}</h1>
        </div>

    </div>

{% endblock %}


{% block body %}

<div class="data-table">

    <h2 class="w3-card-4 w3-hover-cyan">Plan Your Schedule!</h2>
    <p>
        <input type="button" value="Create PDF" 
        id="btPrint" onclick="createPDF()" />  
    </p>

    <div class="y1"><h3>Year 1</h3></div>
    <div class="y2"><h3>Year 2</h3></div>
    <div class="y3"><h3>Year 3</h3></div>
    <div class="y4"><h3>Year 4</h3></div>

      
    <div class="t2" id="t2">

        {% for i in range(4) %}
        <div class="thead" id="thead">
            <div class="tr">
                <div class="td">Fall</div>
                <div class="td">Winter</div>
                <div class="td">Spring</div>
                <div class="td">Summer</div>
            </div>    
        </div>
        {% for i in range(5) %}
        <div class="tbody">
            <div class="tr">
                <div class="td" contenteditable="true"></div> 
                <div class="td" contenteditable="true"></div> 
                <div class="td" contenteditable="true"></div> 
                <div class="td" contenteditable="true"></div> 
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        
    </div>

</div>

 
<div class="i w3-card-4">
    <h4>{{ mcode }} Major Requirements</h4>
    <img src="../static/images/{{mcode}}.png">
</div>


<div class="t">

    <div class="panel w3-panel w3-leftbar w3-pale-blue w3-border-blue">
        <h4>Click on a subject to see it's undergraduate catalog<br>(scroll down for more subjects)</h4>
    </div>
{% for course in courses %}
    <div class="button"> 
        <button onclick="toggle('{{course}}')" class="w3-btn w3-indigo w3-ripple">{{ course }}</button>
        <div id="{{course}}" class="hidden" style="display: none">
            <div class="table w3-table w3-hoverable w3-card-4"> 
            {{ data[course] | safe }}  
            </div> 
        </div>
    </div>
{% endfor %}
</div>



{% endblock %}
